.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.377000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.290000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.284000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.905762;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-292.020000px;}
._a{margin-left:-1.040000px;}
._1{width:1.288000px;}
._0{width:2.352000px;}
._9{width:3.416000px;}
._2{width:134.392000px;}
._7{width:262.680000px;}
._3{width:722.200000px;}
._4{width:1078.200000px;}
._6{width:1160.720000px;}
._5{width:1198.200000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:40.000000px;}
.fs4{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs0{font-size:60.000000px;}
.y1{bottom:0.300000px;}
.y10{bottom:50.400000px;}
.yf{bottom:72.900000px;}
.y0{bottom:322.500000px;}
.ye{bottom:371.300000px;}
.yd{bottom:408.800000px;}
.yc{bottom:429.000000px;}
.yb{bottom:449.200000px;}
.ya{bottom:473.200000px;}
.y9{bottom:507.100000px;}
.y8{bottom:537.600000px;}
.y7{bottom:552.000000px;}
.y5{bottom:575.300000px;}
.y6{bottom:577.700000px;}
.y4{bottom:638.600000px;}
.y3{bottom:653.000000px;}
.y2{bottom:742.300000px;}
.h6{height:30.000000px;}
.h7{height:39.520000px;}
.h4{height:47.424000px;}
.h5{height:55.664000px;}
.h8{height:56.280000px;}
.h3{height:60.300000px;}
.h1{height:505.500000px;}
.h2{height:841.600000px;}
.h0{height:842.000000px;}
.w1{width:498.000000px;}
.w0{width:595.000000px;}
.x1{left:0.000000px;}
.x0{left:49.000000px;}
.xb{left:55.800000px;}
.x5{left:57.000000px;}
.x9{left:62.800000px;}
.x8{left:195.100000px;}
.x3{left:249.100000px;}
.x7{left:259.100000px;}
.x4{left:260.900000px;}
.x2{left:266.300000px;}
.xa{left:276.000000px;}
.x6{left:381.700000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-389.360000pt;}
._a{margin-left:-1.386667pt;}
._1{width:1.717333pt;}
._0{width:3.136000pt;}
._9{width:4.554667pt;}
._2{width:179.189333pt;}
._7{width:350.240000pt;}
._3{width:962.933333pt;}
._4{width:1437.600000pt;}
._6{width:1547.626667pt;}
._5{width:1597.600000pt;}
.fs3{font-size:53.333333pt;}
.fs4{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs0{font-size:80.000000pt;}
.y1{bottom:0.400000pt;}
.y10{bottom:67.200000pt;}
.yf{bottom:97.200000pt;}
.y0{bottom:430.000000pt;}
.ye{bottom:495.066667pt;}
.yd{bottom:545.066667pt;}
.yc{bottom:572.000000pt;}
.yb{bottom:598.933333pt;}
.ya{bottom:630.933333pt;}
.y9{bottom:676.133333pt;}
.y8{bottom:716.800000pt;}
.y7{bottom:736.000000pt;}
.y5{bottom:767.066667pt;}
.y6{bottom:770.266667pt;}
.y4{bottom:851.466667pt;}
.y3{bottom:870.666667pt;}
.y2{bottom:989.733333pt;}
.h6{height:40.000000pt;}
.h7{height:52.693333pt;}
.h4{height:63.232000pt;}
.h5{height:74.218667pt;}
.h8{height:75.040000pt;}
.h3{height:80.400000pt;}
.h1{height:674.000000pt;}
.h2{height:1122.133333pt;}
.h0{height:1122.666667pt;}
.w1{width:664.000000pt;}
.w0{width:793.333333pt;}
.x1{left:0.000000pt;}
.x0{left:65.333333pt;}
.xb{left:74.400000pt;}
.x5{left:76.000000pt;}
.x9{left:83.733333pt;}
.x8{left:260.133333pt;}
.x3{left:332.133333pt;}
.x7{left:345.466667pt;}
.x4{left:347.866667pt;}
.x2{left:355.066667pt;}
.xa{left:368.000000pt;}
.x6{left:508.933333pt;}
}
